@tailwind base;
@tailwind components;
@tailwind utilities;

.animate {
    background: linear-gradient(90deg,#e6e6e6 5%,#ccc 25%,#e6e6e6 35%) 0 0/1000px 100%;
    animation: 3s infinite shimmer;
}
@keyframes  shimmer{
    0% {
        background-position: -1000px 0;
    }
    100% {
        background-position: 1000px 0;
    }
}
@keyframes animateMounting {
    0% {
       opacity: 0;
    }
   
    100% {
       opacity: 1;
    }
   }